// Fonts
$logo-font: "Shrikhand", cursive;
$text-font: "Roboto", sans-serif;

// Colors
$pri-color: #9356dc;
$sec-olor: #ff79da;
$ter-color: #99e2d0;
$background-color: #ffffff;
$dark-grey: #eaeaea;
$light-grey: #f6f6f6;
$bottom-color: #353535;
$light-text-color: #808080;

// Size
$pc-width: 800px;
$pc-element-max-width: 500px;
